body {
    background-color: #fff0f5; /* rose très clair */
    font-family: Arial, sans-serif;
}

form {
    background: #ffffff;
    width: 350px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 182, 193, 0.4);
}

label {
    color: #d63384; /* rose foncé */
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #ffc0cb;
    border-radius: 8px;
    outline: none;
    margin-top: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #ff69b4;
}

input[type="submit"] {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #d63384;
}

ul {
    background: #ffe4ec;
    padding: 10px;
    border-radius: 8px;
}

p {
    background: #e6fffa;
    padding: 10px;
    border-radius: 8px;
}
